/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    /*width: 960px;  /*obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

:root {
    --barva-hlavni: #48418e;
    --barva-2: #ffffff;
}

.obal {
    max-width: 960px;
}

a {
    display: inline-block;
    text-decoration: none;

}

.navigace a {
    text-align: center;
    padding: 1rem;
    width: 50%;
}

.navigace {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.hlavni-panel {
    background-image: url(images/pozadi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    color: var(--barva-2);
    display: flex;
    flex-direction: column;
}

.hlavni-panel h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}

.hlavni-panel p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.obal-tlacitka {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.tlacitko {
    color: var(--barva-2);
    border: 2px solid var(--barva-2);
    border-radius: 1rem;
    padding: 1rem 3rem;
    margin: 0.5rem;
    text-align: center;
    width: 100%;
    } 

.tlacitko-1 {
    background-color: var(--barva-hlavni);
}

.karta {
    text-align: center;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.karta h2 {
    color: var(--barva-hlavni);
    font-size: 1.5rem;
    margin: 1rem;
}

.paticka {
    background-color: var(--barva-hlavni);
}

.paticka p {
    padding: 1rem;
    margin:0;
    color: var(--barva-2);
    text-align: center;
}

.navigace a:hover {
    background-color: var(--barva-hlavni);
    color: var(--barva-2);
}

.tlacitko-1:hover,
.tlacitko-1:focus {
    background-color: inherit;
    border-color: var(--barva-hlavni);
}

.tlacitko-2:hover,
.tlacitko-2:focus {
    background-color:  var(--barva-hlavni);
    border-color: var(--barva-hlavni);
}

@media screen and (min-width: 450px) {
    .obal-tlacitka {
        flex-direction: row;
        justify-content:start;
        }

        .tlacitko {
            margin: 0;
            margin-top: 1rem;
            padding: 1rem 2rem;
            width: auto;
        }

        .tlacitko-1 {
            margin-right: 1.5rem;
        }
}

@media screen and (min-width: 600px) {
    .navigace a {
        width: auto;
        padding: 1rem 2rem;
    }
    
    .navigace {
        flex-direction: row;
    }

    .hlavni-panel h1 {
        font-size: 4rem;
    }
    
    .hlavni-panel p {
        font-size: 2rem;
    }

    .tlacitko {
        font-size: 1.2rem;
    }

    .vedlejsi-panel {
        display: flex;
    }
}

@media screen and (min-width: 750px) {
.hlavni-panel{
    background-image: url(images/telefon.png), url(images/pozadi.jpg) ;
    background-repeat: no-repeat;
    background-position: right bottom, center;
    background-size: 300px, cover;
    min-height: fit-content;
    }
    .hlavni-panel p {
        max-width: 350px;
    }
}